body {
    margin: 0;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.7); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    transition: .5s ease;
}

#text{
    width: 32%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#text p{
    text-align: justify;
    text-justify: auto;
}

#button{
    font-weight: bold;
    font-family:inherit;
    border-radius: 8px;
    border: 2px solid #ffffff;
    padding: 15px 32px;
    text-align: center;
    transition-duration: 0.4s;
    color: white;
    background-color: rgba(0,0,0,.2);
    position: relative;
    margin-top: 40px;
    left: 50%;
    width: 120px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#button:hover{
    background-color: white;
    color: black;
}